# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.local

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build output
dist/
build/
.next/
out/
coverage/

# Misc
*.tgz
*.gz
*.zip
*.bak
*.tmp

# API cache
.cache/

# Test
*.test.js
*.spec.js

# Others
*.pid
*.seed
*.pid.lock
.vercel
